.mehr-wrap {
	display: flex;
	flex-direction: column;
	align-items: center; /*sehr wichtig: wenn man flex-dicetion: column macht, dann muss man die Elemente über flex-direction zentrieren und nicht über justify-content!!*/
}

.accordion-utopia {
	color: red;
	background-color: transparent;
    cursor: pointer;
    padding: 8px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: all 0.3s;
	margin: 2%; /*Um Button ein wenig weiter runter zu bringen.*/
	display: flex;
}

/*---- Arrows go up & down when clicking ----*/

.accordion-utopia.active .arrow-up {
	display: inline;
}

.accordion-utopia .arrow-up {
	display: none;
}

.accordion-utopia .arrow-down {
	display: inline;
}

.accordion-utopia.active .arrow-down {
	display: none;
}
/*---*/

.arrow-up, .arrow-down {
	width: 10px;
    height: 10px;
	margin-left: 15px !important;
}

/*---*/
.mehr-button {
	padding: 16px 25px;
	border-radius: 50px;
	background-color: white;
	font-size: 20px;
	font-weight: 700;
}

.mehr-button:hover {
	color: red;
	box-shadow: 0 0 0 5px rgba(255,255,255,.2)
}

.mehr-button:visited, .mehr-button:link  {
	color: red;
	text-decoration: none;
}
/*---*/

.hidden-container {
	max-height: 0;
    overflow: hidden; /*Sagt ob der Inhalt innerhalb einer Box abgeschnitten oder mit einer Scrollbox angezeigt werden soll, wenn nicht der ganze Text in eine Box passt.*/
	transition: max-height 0.8s ease-in-out;
	color: #000;
	line-height: 1.5;
	margin-top: 5%; /*Damit die Details nicht direkt auf Knopf erscheinen.*/
}