@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: black;
}

.optimize {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotate(-15deg) translate(-50%, -50%);
	border-top:130px solid #e5f436;
	border-bottom:130px solid #e5f436;
	border-left:130px solid #e5f436;
	border-right:130px solid transparent;
	border-radius: 50%;
}

.inner-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotate(-15deg) translate(-50%, -50%);
	border-top:120px solid #000;
	border-bottom:120px solid #000;
	border-left:120px solid #000;
	border-right:120px solid #000;
	border-radius: 50%;
}

.inner-circle:before {
	position: absolute;
	content:"";
	top: -130px;
    left: -10px;
	transform: rotate(45deg);
	background-color:#FFF;
	height: 255px;
	width: 10px;	
}

.inner-circle:after {
	position: absolute;
	content:"";
	top: -91px;
    left: 93px;
	transform: rotate(-7deg);
	background-color:#FFF;
	height: 241px;
	width: 10px;	
}

.diagonal {
	position: absolute;
    top: 65%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    width: 9.5%;
    height: 10px;
	background-color: #FFF;
}

.diagonal:before {
	position: absolute;
    content: "";
    top: 100px;
    left: 254px;
    transform: translate(-50%, -50%);
    width: 187px;
    height: 10px;
    background-color: #FFF;
}

.diagonal:after {
	position: absolute;
    content: ".com";
    top: 38px;
    left: 357px;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 10px;
    color: #fff;
    font-size: 4em;
}

/*.optimize:before {
	position: absolute;
	content:"";
	top: 100px; 
	left: 100px;
	border-top:100px solid #FFF;
	border-bottom:100px solid #FFF;
	border-left:100px solid #FFF;
	border-right:100px solid #FFF;
	border-radius: 50%;
}*/
