@charset "utf-8";

* {
	box-sizing: border-box;
}

html, body  {
	margin: 0;
	width: 100%;
	height: 100%;
	background: black;
	scroll-behavior:smooth;
}

:root { 
	--kabel-abkoppler: url(../bilder/produkte/kabel-abkoppler/kabel-abkoppler-1.jpg); /*Trick explained on this page: https://stackoverflow.com/questions/9808233/is-it-possible-to-put-css-media-rules-inline*/ 
	--abschlusswiderstand: url(../bilder/produkte/abschlusswiderstand/abschlusswiderstand-75-ohm.jpg);
	--antiresBoxen: url(../bilder/produkte/antiresonatoren-an-lautsprecher/antiresonatoren-an-focal-scala-utopia-2.jpg);
	--antiresWand: url(../bilder/produkte/antiresonatoren-raum/antiresonatoren-fuer-raum-auf-einer-wand.jpg);
	--pyramide: url(../bilder/produkte/klang-pyramide/optimizeaudio-klangpyramide-0.jpg);
	--lautsprecherkabel: url(../bilder/produkte/lautsprecherkabel/hybrid-lautsprecherkabel-optimizeaudio-1.jpg);
	--netzfilter: url(../bilder/produkte/netzfilter/optimizeaudio-netzfilter-1x4-anschluesse.jpg);
	--netzkabel: url(../bilder/produkte/netzkabel/netzkabel-optimize.jpg);
	--zobelglied: url(../bilder/produkte/zobelglied/zobelglied-optimize-audio.jpg);
}

/** -- Responsive Background-Images -- **/
@media only screen and (max-width: 480px) {
    :root { 
		--kabel-abkoppler: url(../bilder/produkte/kabel-abkoppler/kabel-abkoppler-2.jpg); 
		--abschlusswiderstand: url(../bilder/produkte/abschlusswiderstand/abschlusswiderstand-75-ohm-innenleben.jpg);
		--antiresBoxen: url(../bilder/produkte/antiresonatoren-an-lautsprecher/monitor-audio-silver-50-optimierung.jpg);
		--antiresWand: url(../bilder/produkte/antiresonatoren-raum/antiresonator-von-optimize-audio.jpg);
		--pyramide: url(../bilder/produkte/klang-pyramide/optimizeaudio-klangpyramide-5.jpg);
		--lautsprecherkabel: url(../bilder/produkte/lautsprecherkabel/hybrid-lautsprecherkabel-optimizeaudio-3.jpg);
		--netzfilter: url(../bilder/produkte/netzfilter/optimizeaudio-netzfilter-1x1.jpg);
		--netzkabel: url(../bilder/produkte/netzkabel/netzkabel-optimize-schuko.jpg);
		--zobelglied: url(../bilder/produkte/zobelglied/zobelglied-beim-giessen.jpg);
	
	}
}

@media only screen and (min-width: 481px) and (max-width: 640px){
	:root { 
		--kabel-abkoppler: url(../bilder/produkte/kabel-abkoppler/kabel-abkoppler-3.jpg); 
		--abschlusswiderstand: url(../bilder/produkte/abschlusswiderstand/abschlusswiderstand-75-ohm-innenleben.jpg);
		--antiresBoxen: url(../bilder/produkte/antiresonatoren-an-lautsprecher/monitor-audio-silver-50-optimierung.jpg);
		--antiresWand: url(../bilder/produkte/antiresonatoren-raum/antiresonator-von-optimize-audio.jpg);
		--pyramide: url(../bilder/produkte/klang-pyramide/optimizeaudio-klangpyramide-5.jpg);
		--lautsprecherkabel: url(../bilder/produkte/lautsprecherkabel/hybrid-lautsprecherkabel-optimizeaudio-2.jpg);
		--netzfilter: url(../bilder/produkte/netzfilter/optimizeaudio-netzfilter-1x1.jpg);
		--netzkabel: url(../bilder/produkte/netzkabel/netzkabel-optimize-schuko.jpg);
		--zobelglied: url(../bilder/produkte/zobelglied/zobelglied-beim-giessen.jpg);
	}
}

@media only screen and (min-width: 641px) and (max-width: 1024px){
	:root { --kabel-abkoppler: 
		url(../bilder/produkte/kabel-abkoppler/kabel-abkoppler-4.jpg); 
	}
}
/** -- ENDE Responsive Background-Images -- **/

p {
	text-align: center;
}

sup { /*These 3 attribute are a "hack", in order to avoid that the <sup>-Tag affects the line-height of the above Text.
	More infos are on this thread: https://stackoverflow.com/questions/1530685/html-sup-tag-affecting-line-height-how-to-make-it-consistent*/
	vertical-align: top; 
	position: relative; 
	top: -0.5em;
}

[id^=drop] /* Selektiert jede ID, welche mit "drop" beginnt  alle Checkboxen bei der Navigation werden nicht angezeigt & Menü auch nicht von Iphone & Ipads*/ {
 display: none;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #282E34;
 /*----- um die Navigation oben fix zu halten  man muss aber ausserdem in den Mediaquerries dann auch noch position:         static machen bei der Navigation!--------------- */
  /*position: fixed;
  z-index: 99999;
  width: 100%;*/
}

nav:after /*Inserts something after the navigation*/ {
  content: ""; /*Setzt nach der Navigation einen leeren String. Macht, dass Navigation ganze Breite annimmt. Ausserdem                  wird dadurch die Höhe genau auf 0 gesetzt, wie wenn man Margin auf 0 setzen würde.*/
  display: table; /*Macht, dass Navigation ganze Breite annimmt. Vewandelt alles nach der Navigation (= leerer String)                  als Tabelle*/
  clear: both; /*No floating elements allowed on either the left or the right side. Macht, dass Navigation ganze Breite                 annimmt.Würde auch mit clear: left funktionieren...*/
}

nav ul {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative; /*Jedes Untermenü geht an die Stelle, zu welchem Übermenü es gehört.*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}

#logo {
	padding: 0 30px;
	font-size: 24px;
	line-height: 60px;
	color: #FFF;
	font-family: 'Poiret One', cursive;
	float: right;
}

nav ul li {
  margin: 0px;
  display: block; /*Würde auch mit display:inline-block funktionieren.*/
  float: left;
  background-color: #282E34;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px; /*Setzt die Grösse um den <a>-Link herum*/
  text-decoration: none;

}

nav ul ul {
  display: none; /*Macht, dass beide Sub-Menüs verschwinden*/
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul {
	display: inherit; /*Inherits the display: inline-block property from its parent element, which is the first <ul>                        <li>. Es ist sehr wichtig li:hover zu schreiben, damit der Browser weiss, dass er das zweite                        Untermenü nur dann sichtbar machen soll, wenn man mit der Maus drüber fährt!*/
}

nav ul ul li {
  width: 300px; /*Dadurch passt du die width des Drop-Down Menüs an.*/
  float: none;
  display: list-item;
  z-index: 10;  
  position: relative;
}

nav ul ul ul li {
  position: relative; /*Muss nicht stehen, geht auch ohne*/
  top: -60px;
  left: 220px;
  text-align: center;
}

li > a:only-child:after { content: ''; } /*Wenn <a>-Tag das only-child ist in einem <li>-Tag, dann wird nur ein leerer                                           String eingefügt. Durch diesen Befehl geht man sicher, dass nur ein +-string                                           steht, wo es ein Sub-Menü gibt. */

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

/*---------------arrow-------------------------- */
.arrow {
	color: white;
	font-size: 5em; /*!!! Einfügen eines kleineren font-size bei media-querries!*/
	background-color: #000;
	transform: rotate(180deg);
	margin-right: 10%;
}

.arrow a {
	text-decoration: none;
}	
	
.arrow a:hover {
	transition: .5s;
    color: #F00;
}

/*-----------------Ende arrow ----------------------*/


/* ----Start: Hero-image allgemein ----

--- Description: This Hero-Image is already designed to be responsive for any screen! Hence, the CSS allows the image 
to always take the full-width of the screen, independent whether it is a phone or a Computer!

----------*/

.grande-image {
	width: 100%;
    height: 100vh;
    position: relative; /* This is necessary, because we will set all images to position absolute, relative to our container 'slideshow'. */
    overflow: hidden;
}

.grande-image-item{
    width: inherit; /* Inherits the width of the parent-element (= 'slideshow')*/
    height: inherit;
    position: absolute; /* Makes sure, that each of the images within the slide-show, is sitting on top of each other. */
}

.grande-image-item img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* OMG: This guarantees, that the image will behave like a background image. Usually, "normal" images have 
                          trouble when it comes to behaving well, when the screen gets smaller! */
}

.centered {
	background-color: rgba(204,204,204, 0.65);
    padding: 15px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
	color: #000;
}

/*---------End: Hero-image allgemein----------*/

/*------Start: Section First-----------*/

.first {
	text-align: center;
    background-color: white;
}

section.first h1 {
    border-color: #000;
    border-style: solid;
    border-left: thick;
    border-right: thick;
    padding: 20px 10px;
}

section.first p {
    color: #000;
	font-size: 1.25em;
	line-height: 1.5;
}

.wrap-three {
	display: flex;
	justify-content: space-around;
}

.responsive /*Section First Abstand Bilder-Gallery*/{
    margin-top: 55px;
}

.gallery {
	border: 1px solid #ccc;
	box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
}

div.gallery:hover {
    border: 3px solid #777;
}

div.gallery:hover h2{
	text-decoration: underline;
}

div.gallery a /*Need this, otherwise whole text becomes white because of <a>-tag...*/ {
  display: block;
  color: #000;
  text-decoration: none;
}

.descr{
    padding: 15px;
    text-align: center;
    background-color: #999;
}

div.gallery img {
	display: block;
}

.header-gallery{
	font-size: 1.5em;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.text-gallery {
	font-size: 1.15em;
}
/*-------End: Section First----------*/

/*-----Start: Einzigartigkeit--------*/

/*Spezifisch für article & Bild nebendran mit Flexbox*/
.main-container {
	position: relative;
}

.article-container { /* Gibt an, wie sich der Hauptinhalt der Webseite "responsive" anpassen soll (hier allgemein). */
	padding-top: 0;
    padding-bottom: 0;
	margin-top: 0;
}

.article-container:before {
	display: table;
    content: " ";
}

@media only screen and (max-width: 479px) { /* --- Responsive-Behavior of main content. --- */
	.article-container {
		max-width: 540px;
		margin: auto;
	}
}

/*Medium-Phones-Styles */
@media only screen and (min-width: 480px) and (max-width: 767px) { /* --- Responsive-Behavior of main content. --- */
	.article-container {
		max-width: 760px;
		margin: auto;
	}
}

/*Ipad-Styles */
@media only screen and (min-width: 768px) and (max-width: 989px) { /* --- Responsive-Behavior of main content. --- */
	.article-container {
		max-width: 980px;
		margin: auto;
	}
}

.main-container .flex-wrap:nth-child(odd) { /* This makes the beautiful main-effect on the short articles. */
	display: flex;
	flex-direction: row;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.main-container .flex-wrap:nth-child(even) { /* This makes the beautiful main-effect on the short articles. */
	display: flex;
	flex-direction: row-reverse;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
}

.story {
	text-align: center;
	line-height: 1.5;
}

.image-flex {
	background-size: cover;
    background-position: center;
    min-height: 400px;
	position: relative;
    height: auto; /*WICHTIG: Wenn du hier auf 'auto' stellst, dann "wächst" das Bild bis zum Text herunter beim "Erfahre Mehr"-Knopf. */
	width:50%;
	display: flex;
}

.image-flex:after {
	content: "";
    display: block;
    padding-bottom: 100%;
}

.wrap-content {
	display: flex;
	background-color: #fff;
    color: #1e2423;
	width: 50%;
}

.wrap-content:after {
	content: "";
    display: block;
    padding-bottom: 100%;
}

.drin {
	display: flex;
	align-items: center;
    min-height: 100%;
    width: 100%;
	padding: 5% 20%;
}

.drin-content {
	padding-right: 10px;
    overflow-y: auto;
    max-height: 100%;
}

.plain-text {
	margin-top: 40px;
    line-height: 25px;
}

.main-container .plain-text p /*braucht man, sonst überschreibt <p>-CSS regel 'center' den text-align left...*/ {
	text-align: left;
}

.sum-up /*brauche ich momentan nicht!*/ {
	border-radius: 10px;
    border-style: solid;
    padding: 5px;
}

.special {
	border-color: #FFF;
    border-style: solid;
    border-left: thick;
    border-right: thick;
    padding: 20px 10px;
	margin: 5%;
	color: #FFF;
}

/* --- Liste ohne Bullet-Points ---
	
	> Vorteil: erlaubt mir, die beiden Punkte "Kostenfaktor" & "Klanggewinn" auf derselben Linie zu allignen, was mir vorher nicht möglich war, als ich nur mit <p>-Tags arbeitete.
	> Bemerkung zur Text-Grösse 'vw': Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.
 */

 /*
 ul.no-bullets {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 3vw;
}
 */


/*-----End: Einzigartigkeit--------*/

.containerWrap {
	width: 100%;
	padding: 6px;
	background: #000;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-evenly;
}

/*** Für Bilder ***/
img {
	width: 100%; /*Muss man setzen, sonst zoomt das Bild stark heran xD*/
	height: auto;
}

/** Lazy-Load Animation for <img>-Tag in order to make them visible **/
.lazy {
	/* For Animation of Lazy-Loading */
	transform: translateX(0);
	opacity: 0;
	transition: all 1s; 
	/* 
	*/
}

.lazy-fade {
	transform: translateX(0);
	opacity: 1.0;
	transition: all 1s;
} 
/* 
*/

.flex-background-img { /*Diese Klasse dient allen Bildern, welche in der "Erfahre-mehr"-Sektion drin sind. Ursprünglich waren diese Background-Images. Aber weil lazy-loading einfacher zu handeln ist via dem <img>-Tag, habe ich diese nun umgewandelt. */
	object-fit: cover;
}

.container {
	padding: 10px;
	margin-bottom: 10%;
}

#einzigartig article, #workshop article {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	line-height: 2;
}

blockquote#test {
	border-style: groove;
	border-color: #FFF;
	border-left: 3px;
	border-right: 3px;
	margin: 10%;
}

/* ---- Start: Style of Headers within the "Erfahre Mehr"-Section ---- */

.title-article {
    font-size: 30px;
    margin: 0;
    line-height: 1.1;
}

.sub-title {
    font-size: 16px;
    color: #F30;
    margin: 0;
}

.news a {
    color: blue;
    text-decoration: none;
}

/* ---- End: Style of Headers within the "Erfahre Mehr"-Section ---- */

/* ---- Beginn: Produkte-Karten auf "Klangoptimierung.html"-Seite ---- */

.products {
	background-color: white;
}

@media only screen and (max-width: 479px) { /* --- For Phones ---*/
	.products {
		padding: 10px 40px;
	}

	.descr h2 /* Special underline for Tablets & Iphones */ {
		text-decoration: underline;
	}
}

@media only screen and (min-width: 480px) and (max-width: 989px) {
	.products {
    padding: 10px 40px;
	}

	.descr h2/*Special underline for Tablets & Iphones*/ {
		text-decoration: underline;
	}
}

@media only screen and (min-width: 990px) { /* --- Desktop Styles allgemeines Design --- */
	.products {
		padding: 90px 80px;
	}
}

.products-h1 {
	padding: 10px 10px;
    border-bottom-style: ridge;
	font-size: 7vh;
}

@media only screen and (max-width: 479px) { /* --- For Phones ---*/
	.products-h1 {
		padding: 10px 10px;
		border-bottom-style: ridge;
		font-size: 4vh;
	}
}

.wrap-five /*special for ungerade Produkt-Anzahl*/ {
	display: flex;
    justify-content: space-evenly;
}

.wrap-products {
	flex-wrap: wrap;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {/* --- Medium-Phones-Styles --- */
	
	.responsive /*Special for desktop: Bilder in Section first stay rather small to match on one single line*/ {
		width: 65%;
	} 
}

@media only screen and (min-width: 768px) and (max-width: 989px) {/* --- Ipad-Styles --- */
	
	.responsive /*Special for desktop: Bilder in Section first stay rather small to match on one single line*/ {
		width: 65%;
	} 
	
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* ---- Ende: Produkte-Karten auf "Klangoptimierung.html"-Seite ---- */

/*------------------------- ENDE ALLGEMEINE STYLES, NUN BEGINNEN MEDIA-QUERIES -------------------------------*/

/*Phone Styles*/
@media only screen and (max-width: 400px) {
#logo {
	display: none;
}

#logo-phone {
	display: block;
	float: right;
	font-family: 'Poiret One', cursive;
	font-size: 120%;
}

nav { 
  margin: 0;
  /*----- um die Navigation nicht fixiert zu lassen auf dem Handy ------ position: static;*/ 
}

.toggle + a, .menu { /*Selects all <a> elements that are placed immediately after toggle class*/
   display: none;
}

.toggle {
  display: block;
  background-color: #282E34;
  padding: 0 20px;
  font-size: 20px;
  color: #FFF;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { 
  background-color: #2F3B44; /*Hover-Effekt hellgrau. Muss man zusätzlich einfügen, sonst gibt es keinen Hover-Effekt                               auf die Toggle Klasse*/
}

nav ul li a:hover {
	background-color: #2F3B44; /*Hover-Effekt hellgrau*/
}

[id^=drop]:checked + ul { /*Selects all <ul> elements that are placed immediately after some (checked) elements that                          begin with the ID "drop". Dieser Befehl ermöglicht das Click-Event! Nachdem die Elemente aus                          der Liste mit einem Check-Mark angeklickt wurden bzw. checked wurden, wechselt der Display von                          "none" zu "block" und die Elemente werden sichtbar! */
  display: block; 
}

nav ul li {
  display: block; /*Braucht man nicht. Funktioniert auch ohne*/
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { 
   padding: 0 40px; 
}

nav ul ul ul a { 
  padding: 0 80px;  /*Macht, dass der innere Abstand innerhalb der <a>-Boxen grösser werden*/
}

/*------------ Nicht so gut bzw. unnötig*/
nav a:hover,
 nav ul ul ul a { 
   background-color: #282E34; 
}

nav ul li ul li .toggle,
 nav ul ul a { 
   background-color: #212121; 
}

/*--------------- */

nav ul ul {
  float: none; /*Braucht es, sonst füllt das zweite Submenü nicht mehr die ganze Seite aus */
  position: static; /*Elements render in order, as they appear in the document flow*/
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { 
  display: none; 
}

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { 
  position: static;
}

.arrow a {
	color: #F00;
}

/*---------Ende Navi --------*/

.centered /*Hero-img*/ {
	top: 7rem;
	width: 85%;
}

.hero-title /*Hero-img*/ {
    font-size: 1.75rem;
    font-weight: bold;
}

.hero-sub-title /*Hero-img*/ {
    font-size: 1rem;
}

.first, .story /*Section First*/ {
	padding: 35px;
}

section.first h1 {
	font-size: 1.25em;
}

.descr h2/*Special underline for Tablets & Iphones*/ {
	text-decoration: underline;
}

.responsive-first /*Otherwise first image has a too high margin-top*/ {
	margin-top: 0px;
}


.wrap-three /*Damit auf Phone alles untereinander kommt...*/ {
	flex-wrap: wrap;
}

/*------Start: Einzigartigkeit--------*/

.special p {
	font-size: 1.25em;
}

.main-container .flex-wrap {
	flex-wrap: wrap;
}

.image-flex {
	width: 100%;
}

.wrap-content {
	width: 100%;
	align-self: flex-start;
}

.drin {
	padding: 10% 15%;
}

/* .article-container {
    max-width: 540px;
	margin: auto;
} */

/*------End: Einzigartigkeit------*/


.botschaftUn {
	width: 100%;
}

.main-header {
	font-size: 1.25em;
}

blockquote#test {
	padding: 20px;
	font-size: 1.25em;
}

}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 1277px) {
#logo {
	display: none;
}

#logo-phone {
	display: block;
	float: right;
	font-family: 'Poiret One', cursive;
	font-size: 120%;
}

nav { 
  margin: 0;
  /*----- um die Navigation nicht fixiert zu lassen auf dem Handy ------ position: static;*/ 
}

.toggle + a, .menu { /*Selects all <a> elements that are placed immediately after toggle class*/
   display: none;
}

.toggle {
  display: block;
  background-color: #282E34;
  padding: 0 20px;
  font-size: 20px;
  color: #FFF;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { 
  background-color: #2F3B44; /*Hover-Effekt hellgrau. Muss man zusätzlich einfügen, sonst gibt es keinen Hover-Effekt                               auf die Toggle Klasse*/
}

nav ul li a:hover {
	background-color: #2F3B44; /*Hover-Effekt hellgrau*/
}

[id^=drop]:checked + ul { /*Selects all <ul> elements that are placed immediately after some (checked) elements that                          begin with the ID "drop". Dieser Befehl ermöglicht das Click-Event! Nachdem die Elemente aus                          der Liste mit einem Check-Mark angeklickt wurden bzw. checked wurden, wechselt der Display von                          "none" zu "block" und die Elemente werden sichtbar! */
  display: block; 
}

nav ul li {
  display: block; /*Braucht man nicht. Funktioniert auch ohne*/
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { 
   padding: 0 40px; 
}

nav ul ul ul a { 
  padding: 0 80px;  /*Macht, dass der innere Abstand innerhalb der <a>-Boxen grösser werden*/
}

/*------------ Nicht so gut bzw. unnötig*/
nav a:hover,
 nav ul ul ul a { 
   background-color: #282E34; 
}

nav ul li ul li .toggle,
 nav ul ul a { 
   background-color: #212121; 
}

/*--------------- */

nav ul ul {
  float: none; /*Braucht es, sonst füllt das zweite Submenü nicht mehr die ganze Seite aus */
  position: static; /*Elements render in order, as they appear in the document flow*/
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { 
  display: none; 
}

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { 
  position: static;
}

/*----------- End Navi ------------------*/

.arrow a {
	color: #F00;
	
}

.centered /*Hero-img*/ {
	top: 7rem;
	width: 75%;
}

.hero-title /*Hero-img*/ {
    font-size: 2rem;
    font-weight: bold;
}

.hero-sub-title /*Hero-img*/ {
    font-size: 1rem;
}

/*------------- End Hero-Image Section ------------*/

.first, .story {
	padding: 90px 80px;
}

.descr h2/*Special underline for Tablets & Iphones*/ {
	text-decoration: underline;
}

.wrap-three /*Damit auf Ipad Bildergallerie untereinander kommt...*/ {
	flex-wrap: wrap;
}

/*---Start: Einzigartigkeit----*/

.special p {
	font-size: 1.5em;
}

.main-container .flex-wrap {
	flex-wrap: wrap;
}

.image-flex {
	width: 100%;
}

.wrap-content {
	width: 100%;
	align-self: flex-start;
}

.drin {
	padding: 10% 15%;
}

/* .article-container {
    max-width: 540px;
	margin: auto;
} */

/*---End: Einzigartigkeit----*/

.botschaftUn {
	width: 77%;
}

.main-header {
	font-size: 1.25em;
}

blockquote#test {
	padding: 40px 20px;
	font-size: 1.5em;
}
}

/*Desktop-Styles*/
@media only screen and (min-width: 1278px) {
#logo {
	display: block;
}

.toggle {
	display: none;
}

nav ul li ul li:hover { 
	background: #CCC; /*Macht, dass wenn man auf ein Untermenü fährt, dass die Hover Farbe sich ändert. Hier ist die                        Farbe grau. Könnte auch background-color schreiben...*/
}

nav a:hover, nav a:active, nav a:focus, nav a.thispage, navsystem a:hover, navsystem a:active {
	background-color: #666666;
}

/*----------- End Navi ------------------*/

.centered /*Hero-img*/ {
	top: 14rem;
}

.hero-title /*Hero-img*/ {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-sub-title /*Hero-img*/ {
    font-size: 1.5rem;
}

/*--------- End Hero-Image Section ----------*/

.first {
	padding: 90px 80px;
}

.story {
	padding: 90px 80px;
	width: 50%;
}

.responsive /*Special for desktop: Bilder in Section first stay rather small to match on one single line*/ {
	width: 29.99999%;
}

.main-header {
	font-size: 1.5em;
}

.special p {
	font-size: 1.75em;
}

#einzigartig article, #workshop article {
	font-size: 1.25em;
}

/*-------------Footer-----------------------*/
.adresseWrap {
  content: "";
  clear: both;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  float: none;
}

.footcontainer {
  float: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container {
	width: 50%;
	display: table; /*need these 3 things to center the image...*/
	margin-left: auto; 
	margin-right: auto;
}

blockquote#test {
	padding: 40px 20px;
	font-size: 2em;
}

}

/*--------------Footer-----------------------------------------------------------------*/
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #2f343a;
  overflow: hidden;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.adresseWrap {
	max-width: 500px;
	width: 100%;
	/*float: left;*/ /*Nur aktivieren, wenn man Kontaktformular einfügt*/
	margin-top: 50px;
	margin-left: auto; /*Deaktivieren von margin-left & -right, wenn man Kontaktformular einfügt*/
	margin-right: auto; 
	margin-bottom: 20px;
	padding: 1rem;
}

.adresseUn {
	background: #F9F9F9;
	padding: 12px 10px;
}

.adresseUn i {
	font-size: 3vh;
}

.adresseUn h2 {
	text-transform: uppercase;
	text-align: left;
	margin: 10px;
	font-family: montserrat;
	font-size: 1.25em;
}

.adresseUn p {
	text-align: left;
	margin: 10px;
	line-height: 1.5;
}

.blue a {
	color: blue;
}

#maps {
	margin-top: 7%;
	overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

#maps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.footer .adresseWrap .adresseUn h2 {
	font-family: Verdana, Geneva, sans-serif;
}
.footer .adresseWrap .adresseUn p {
	font-family: Verdana, Geneva, sans-serif;
}
.footer .adresseWrap .adresseUn p {
	font-family: Verdana, Geneva, sans-serif;
	color: #333;
}
.footer .adresseWrap .adresseUn br {
	font-family: Verdana, Geneva, sans-serif;
}
.footer .adresseWrap .adresseUn br {
	font-family: Verdana, Geneva, sans-serif;
}

.last-container {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width: 989px) {
	.last-container{
		flex-wrap: wrap;
	}

	.link-item {
		margin-top: 20px;
	}
}

.copy-item {
	color: #fff;
}

.link-item {
	width: 100%;
	max-width: 300px;
	display: flex;
	justify-content: space-evenly;
}

.link-item a {
	text-decoration: none;
}

/*** -- Kontakt-Formular -- **/
.full-screen-container {
    width: 100vw; /*View-Width is set to 100% of the screen's width.*/
    background-size: cover; /*This will make that the image scales down & keep it's aspect-ratio.*/
    background-position: center;/*This will make that our image will always be in the center of our browser, independetly of ANY size of any devices!*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    min-width: min(400px, 90vw); /* Damit das Formular Responsive wird. Garantiert, dass - bei grossen Screens - die Grösse des Formulars NICHT > 400px wird. Umgekehrt - wird bei Screens mit einem Bildschirm < 400px - jeweils das Formular immer 90% der Screen-Breite // Viewports annehmen (= '90vw').
        > min() ermöglicht dieses Responsive-Verhalten: dadurch, dass entweder 400px ODER 90vw als Minimum-Wert verwendet wird. */
}

.login-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
	font-family: Quicksand;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
	font-family: Quicksand;
}

.input-group input, .field {
    font-size: 1.5em;
    padding: .1em .25em;
    background: hsla(201, 100%, 91%, 0.3); /*Get rid of the default background of the input.*/
    border: 1px solid hsla(201, 100%, 6%); /*Get rid of the default background of the input.*/
    outline: none; /*Get rid of the default background of the input.*/
    border-radius: 5px;
    color: white;
    font-weight: lighter;
	font-family: Quicksand;
}

.field {
    min-height: 200px;
}

.input-group input:focus {
    border: 1px solid hsla(201, 100%, 50%);
}

.login-button {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    background: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsla(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 20px;
    cursor: pointer;
	font-family: Quicksand;
	color: #fff;
}

.login-button:hover {
    background-color: hsla(201, 100%, 50%, 0.3);
}

.login-button:focus {
    background-color: hsla(201, 100%, 50%, 0.5);
}