/*---Tabellen Design ----*/

table {
    border-collapse: collapse; /*sehr wichtig, sonst funktioniert der "border" nicht für die <tr>-Tags!!*/
  }
  
.rwd-table {
    margin: auto;
    min-width: 280px; /*adjust to your needs*/
}
    
tbody {
    display: table;
    width: 100%;
}
    
@media (min-width: 468px) {
    tbody {
    display: table-row-group;
    }
}
  
tr {
    display: table-row-group;
}
      
@media (min-width: 468px) {
    tr {
        display: table-row;
    }
}
  
th {
    display: none; /*for accessibility, use a visually hidden method here instead! Thanks, reddit!*/    
}
    
td {
    display: table-row; 
}
  
td:before {
    content: attr(data-th)": "; /*who knew you could do this? The internet, that's who.*/ 
    font-weight: bold;
    padding: .2em .5em;
    display: table-cell;
    /*optional stuff to make it look nicer*/
}
        
@media (min-width: 468px) {
    td:before{
        display: none;
    }
}
    
th, td {
    text-align: left;
}
  
@media (min-width: 468px) {
    th, td {
        display: table-cell;
        padding: .25em .5em;
    }
      
    th:first-child, td:first-child {
        padding-left: 0;
    }
      
    th:last-child, td:last-child {
        padding-right: 0;
    }
}
  
@media (max-width: 467px) {
    tr { /*nur das ohne media-querry geht auch!*/
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    }
}
  
@media (min-width: 468px) {
    tr.table-header {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}