* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --image-comparison-slider-width: min(80vw, 768px); /*Slider's maximal width --> brwoser-coverage > 90%, so it is fine... . */
    --image-comparison-slider-handle-width: 50px;
  }
  body {
    font-family: Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex; /*Using Flex-Box in order to center the slider horiontically & vertically. */
    align-items: center;
    justify-content: center;
  }

/** -- Slider-Style -- **/
  #image-comparison-slider {
    position: relative; /*In order for the absolutely positioned wrapper to sit at the same position. */
    width: var(--image-comparison-slider-width);
    overflow: hidden;
    border-radius: 0.5rem; /*Rounding the corners of the image */
    box-shadow: -7px 5px 16px 1px rgba(56, 86, 122, 0.6);
    cursor: col-resize; /*Changing the mouse when hovering over the image-comparator. */
  }
  #image-comparison-slider img {
    display: block;
    width: var(--image-comparison-slider-width); /*IMPORTANT: you need the exact SAME value here, as in the '#image-comparison-slider'!*/
    height: auto;
    max-height: 80vh; /*We want to avoid that our image's height exceed a certain level --> in this case, it should not exceed > 80% of the viewport's height.
        > Achtung: this will NOT preserve the 
            > Solution: set the 'object-fit'-property to 'cover' =) */
    object-fit: cover; /* Preserves the AR of the images. */
    pointer-events: none; /*Deactivate any potential pointer-events. */
    user-select: none; /* Making the images unselectable for the user. */
  }
  #image-comparison-slider .img-wrapper { /* Styling of the Second image's wrapper of the comparison-slider. */
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; /*IMPORTANT: this will position the WRAPPER to the right of the first image (in order for the image-comparison-slider to have a 50-50 starting point --> example: https://www.youtube.com/watch?v=2KMJxHW21cU&t=17m45s). */
    height: 100%; /*The wrapper should fill the whole space of the parent element. */
    overflow: hidden; /*This will ensure that the second image (which is positioned ABOVE the FIRST image, will hide every bit of the image on the LEFT side of the (= which corresponds to everything that is offset of the wrapper.) */
    z-index: 1; /*Ensures that the wrapper will sit on top of the FIRST image (although it is not really necessary, because we use abolute-positioning, which will put the wrapper above the FIRST image anyway...). */
    transform: translateZ(0); /* This is in order to fix a Firefox bug, related to the 3D tilt effect */
    /* transition: 0.25s cubic-bezier(.03,.98,.52,.99); */
  }
  #image-comparison-slider .img-wrapper img { /*Styles of the (second) IMAGE within(!) the wrapper. */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; /*IMPORTANT: don't set this to "auto"!! By setting this value to "100%", it ensures to ALWAYS fill the height, even if you use images with different aspect-ratios! =) */
  }


/** -- Label-Styling, e.g. "before" & "after" -- **/
  #image-comparison-slider .label { /*Styling of the "before" & "after" labels. */
    position: absolute; /*Absolutely positioned, relative to the whole slider. */
    top: 1rem; /*position of the labels to the top edge of the slider*/
    z-index: 3; /*Otherwise the right-label will be invisible, which we don't want. 
        > Wichtig: we could set the z-index to "2" (it would also work), but it will cause the "handlers" of the comparison-slider to be above the labels, which is very ugly. And we don't want that ;) */
    color: #fff;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
    text-align: center;
    letter-spacing: 1px;
    user-select: none;
    opacity: 0; /*Make the labels invible (we only show them on hover --> see below) */
    transition: 0.25s cubic-bezier(.68,.26,.58,1.22);
  }
  #image-comparison-slider:hover .label { /*Hover-Effect for the labels: The labels will be shown when you hover over the slider. */
    opacity: 1;
  }
  #image-comparison-slider .label.label-before { /* Left label will be positioned on the left corner of the slider */
    left: 1rem;
  }
  #image-comparison-slider .label.label-after { /* Right label will be positioned on the right corner of the slider. 
        > Achtung: will first NOT be visible, because we set the image-wrapper's z-index to "1" --> we need to give the labels a greater "z-index" than "1" (see above on the '#image-comparison-slider .label'-selector. */
    right: 1rem;
    background-color: #f95540;
  }

/** -- Styling of the Handler (vertical device that the user can move around) -- **/

  #image-comparison-slider .handle {
    position: absolute; /* Absolutely position the handler relative to the slider. */
    top: 0;
    left: calc(50% - var(--image-comparison-slider-handle-width)/2); /*This will position the handler exactly into the middle of our slider --> we use the calc()-function to substract 25px from 50% of the slider's full width. */
    width: var(--image-comparison-slider-handle-width);
    height: 100%;
    display: flex;
    flex-direction: column; /* Children are positioned vertically. */
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 2; /* We need to set the "z-index" > 1 in order to have the handle ABOVE the two images (inkl. the image-wrappe). Note that we used "z-index = 3" for the labels, in order that the handler's vertical lines are BEHIND the labels (is more beautiful). */
    /* transition: 0.25s cubic-bezier(.03,.98,.52,.99); */
  }
  #image-comparison-slider .handle-line { /* styling the two vertical lines */
    width: 2px;
    flex-grow: 1; /* Force the two vertical lines to take up ALL free space on the vertical axis. */
    background-color: #fff;
  }
  #image-comparison-slider .handle-circle {
    width: var(--image-comparison-slider-handle-width); /* IMPORTANT: This 'width' should be EXACTLY the same as the 'width' of the '#image-comparison-slider .handle'-selector (currently at 50px)! */
    height: var(--image-comparison-slider-handle-width); /*IMPORTANT: the 'height' should be THE SAME as the 'width' (= currently this is set to 50px). */
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%; /* We want a "circle"-figure (not a square)... */
    display: flex; /*We use flexbox to properly position the children (= the two icons) inside the circle. */
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgba(0,0,0,0.5); */
  }
  
  /** -- Media-Queries -- **/
  @media (max-width: 768px) { /*For Smaller Screens - e.g. < 768px - we want that the slider takes up more than 80% of the viewport's width. In this case, we set it to 90vw =) */
    :root {
      --image-comparison-slider-width: 90vw;
    }
  }